.quote{
    font-family: 'Pacifico';
    font-style: normal;
    font-size: 14px;
    background: var(--bg-btn);
    list-style: none;
    width: 62px;
    height: 30px;
    border-radius: 20px;
    -webkit-text-stroke: 0.3px var(--bg-header-footer);
}
.quote:hover{
     -webkit-text-stroke: 0.1px var(--txt-cards);
     -webkit-box-shadow: 0px 0px 19px -1px var(--bg-header-footer); 
     box-shadow: 0px 0px 19px -1px var(--bg-header-footer);
}
.quote a:link,
.quote a:visited {
        color: var(--text-color-nav);
        text-decoration: none;
}