.quote {
    font-family: 'Pacifico';
    font-style: normal;
    font-size: 14px;
    background: var(--bg-btn);
    list-style: none;
    width: 62px;
    height: 30px;
    border-radius: 20px;
    -webkit-text-stroke: 0.3px var(--bg-header-footer);
    transition: 0.5s all;
}

.quote:hover {
    -webkit-text-stroke: 0.1px var(--txt-cards);
    -webkit-box-shadow: 0px 0px 19px -1px var(--bg-header-footer);
    box-shadow: 0px 0px 19px -1px var(--bg-header-footer);
}

.quote a:link,
.quote a:visited {
    color: var(--text-color-nav);
    text-decoration: none;
}

@media screen and (min-width:1440px) {
    .quote {
        width: 117px;
        height: 36px;
        font-size: 22px;
        padding-bottom: 10px;
        -webkit-text-stroke: 0.5px var(--bg-header-footer);
    }

    .quote:hover {
        -webkit-text-stroke: 0.5px var(--txt-cards);
    }
}

.lastQuote {
    font-family: 'Pacifico';
    font-size: 25px;
    line-height: 44px;
    width: 179px;
    height: 50px;
    border-radius: 20px;
    -webkit-text-stroke: 0.8px var(--txt-cards);
    background: var(--bg-btn);
    margin-bottom: 28px;
    transition: 0.5 all;
}

.lastQuote a:link,
.lastQuote a:visited {
    color: var(--text-color-nav);
    text-decoration: none;
}

.lastQuote:hover {
    -webkit-text-stroke: 1px var(--txt-hechos-border-nav);
    -webkit-box-shadow: 0px 0px 19px -1px var(--bg-header-footer);
    box-shadow: 0px 0px 19px -1px var(--bg-header-footer);
}


