input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.containerInput ::placeholder {
    font-family: 'Moon Dance';
    font-size: 0.8rem;
    color: var(--bg-header-footer);
}

.containerInput {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--bg-header-footer);
}

input {
    width: 100%;
    border: none;
}

.containerSectionForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerSectionForm{
    width: 128px;
    overflow:hidden;
}

.containerSectionForm input {
    width: 29px;
    border: none;
}

.changeNumber {
    border-bottom: 2px solid var(--bg-header-footer);
    display: flex;
    justify-content: space-between;
    width: 60px;
}



.changeNumber button {
    background: none;
    border: none;
    border-bottom: none;
    font-family: 'Pacifico';
    font-size: 20px;
    color: var(--bg-btn);
    -webkit-text-stroke: 1px black;
}

.price {
    display: flex;
    font-family: 'Pacifico';
    font-size: 1rem;
    line-height: 35px;
    text-align: center;
    color: var(--txt-hechos-border-nav);
    -webkit-text-stroke: 0.8px black;
}

.btnAddCart {
    margin-top: 10px;
    padding: 2px 0px;
    width: 100%;
    height: auto;
    background: #996B42;
    border-radius: 0px 20px 20px 0px;
    font-family: 'Pacifico';
    font-size: 12px;
    line-height: 21px;
    color: var(--text-color-nav);
    -webkit-text-stroke: 0.7px var(--bg-header-footer);
}

.nota {
    margin-top: 10px;
    font-family: 'Public Sans';
    font-size: 5px;
    line-height: 6px;
    text-align: justify;
    color: rgba(52, 17, 0, 0.5);

}
.containerInput input{
    font-family: 'Moon Dance';
    font-size: 1.2rem;
    color: var(--bg-header-footer);
}
.changeNumber input{
    font-family: 'Pacifico';
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: var(--txt-hechos-border-nav);
    -webkit-text-stroke: 1px black;
}
.swal2-styled.swal2-confirm.swalBtnColor {
    color: #FFC900
  }