.containerCategory {
    padding: 0px 24px;
}

.containerCategory>div {
    margin: auto;
    width: 313px;
    height: 165px;
    border-radius: 20px;
    font-family: 'Niconne', cursive;
    font-size: 32px;
    color: var(--txt-cards);
    -webkit-text-stroke: 1px var(--bg-header-footer);
    margin-bottom: 28px;
}

.containerCategory div:nth-child(2) {
    border-radius: 20px;
    background: url("../../assets/SublimationPrint/cups/P1.jpeg");
    background-repeat: no-repeat;
    background-size: 313px, 165px;
}

.containerCategory div:nth-child(3) {
    border-radius: 20px;
    background: url("../../assets/Detail/d16.jpeg");
    background-repeat: no-repeat;
    background-size: 313px, 165px;
}

.containerCategory div:nth-child(4) {
    border-radius: 20px;
    background: url("../../assets/OtherService/Print3D/im1.jpeg");
    background-repeat: no-repeat;
    background-size: 313px, 165px;
}

.containerCategory div:nth-child(1) {
    border-radius: 20px;
    background: url("../../assets/Card/marriage/2.jpg");
    background-repeat: no-repeat;
    background-size: 313px, 165px;
}


.containerCategory div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCategory a:link,
.containerCategory a:visited {
    color: var(--txt-cards);
}

@media screen and (min-width:744px) and (max-width:1439px) {
    .containerCategory {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}

@media screen and (min-width:1440px) {
    .containerCategory {
        display: none;
    }
}

/* -----------CategoryCards------------- */
.containerCards {
    background: var(--txt-cards);
    padding: 20px 0px;
}


.categoryCards {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px 12px;
    width: 313px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(250px, auto);
    border: 2px solid var(--border-txt-title);
    border-radius: 20px;
}

.categoryCards div>img {
    width: 146px;
    height: 226px;
    border-radius: 20px 0px 0px 20px;
}

.categoryCards div {
    margin: auto;
}

.categoryCards div>h2 {
    padding: 10px 10px;
    font-family: 'Niconne';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--text-color-nav);
    -webkit-text-stroke: 0.5px var(--bg-header-footer);
}

.categoryCards div>p {
    font-family: 'Moon Dance';
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--bg-header-footer);
    margin-bottom: 10px;
}

@media screen and (min-width:744px) and (max-width:1439px) {
    .containerCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
  }
  
  @media screen and (min-width:1440px) {
    .containerCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    
  }