.containerFooter{
    background: var(--bg-header-footer);
    width: auto;
    height: 100px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.containerFooter a{
    font-family: 'Caveat', cursive;
    font-size: 15px;
}

.containerFooter a:link,
.containerFooter a:visited {
        color: var(--txt-cards);
        text-decoration: none;
}