@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-header-footer: #341100;
  --txt-hechos-border-nav: #B57EDC;
  --bg-btn: #643C23;
  --border-txt-title: #996B42;
  --txt-cards: #FFFFFF;
  --text-color-nav: #DBB6EE;

}

html,
body {
  width: auto;
  height: auto;
}

a:link,
a:visited {
  text-decoration: none;
}

/*-------------------------------- Home ---------------------------------------*/
.carousel .thumbs-wrapper {
  display: none;
}

.home {
  background: var(--txt-cards);
}

.network {
  padding: 10px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whoIs {
  margin: auto;
  text-align: center;
  padding: 10px 24px;
}

.whoIs :first-child {
  font-family: 'Pacifico';
  font-size: 24px;
  color: var(--txt-hechos-border-nav);
  -webkit-text-stroke: 1px var(--bg-btn);
}

.whoIs :last-child {
  font-family: 'Moon Dance';
  font-size: 20px;
  color: var(--bg-header-footer);
  -webkit-text-stroke: 0.5px var(--bg-header-footer);
}

.btn-last {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:744px) and (max-width:1439px) {
  .whoIs :first-child {
    font-size: 30px;
  }

  .whoIs :last-child {
    font-size: 25px;
  }
}

@media screen and (min-width:1440px) {
  .whoIs :first-child {
    font-size: 40px;
  }

  .whoIs :last-child {
    font-size: 35px;
  }
}

/*-------------------------------- Cards ---------------------------------------*/
.cardPage {
  background: var(--txt-cards);
}

.cardPageH1 {
  text-align: center;
  font-family: 'Pacifico';
  font-size: 25px;
  line-height: 44px;
  color: var(--bg-header-footer);
  -webkit-text-stroke: 1px var(--border-txt-title);
}

.cardPageP {
  font-family: 'Moon Dance';
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: var(--bg-header-footer);
  -webkit-text-stroke: 0.5px var(--bg-header-footer);
  padding: 20px 20px;
}